{{>cdn}}
{{>nav}}
<div class="container mt-4 p-3">
    <h1 class="text-success text-uppercase text-center m-5">Answer Questions</h1>
  </div>
<div class="container mt-5">
    <form id="answerForm">
        <div class="container mt-4">
            <div class="form-group">
              <label for="exampleTextarea">Answer:</label>
              <textarea class="form-control" id="answer" rows="3"name="answer"></textarea>
            </div>
          </div>
         
        </form>
        <button class="btn btn-primary"id="submit">Answer</button>
</div>
<script>
    const shop = localStorage.getItem("shop"); 
    const parsedShpop=JSON.parse(shop)
    const shopId=parsedShpop[0]._id;
  
    const urlParams=new URLSearchParams(window.location.search)
    const productId=urlParams.get('productId')
    const questionId=urlParams.get('questionId')
    const button=document.getElementById('submit');
    button.addEventListener('click',function(e){
      const answer=document.getElementById('answer').value;
      const url="http://localhost:8000/product/question/answer";
      $.post({
        url: url,
        method: 'POST',
        data:{
            shopId:shopId,
            productId:productId,
            questionId:questionId,
            answer:answer
        },
        success:function(response){
        console.log(response)
        },
        error:function(err){
            console.log(err)
        }
      })
    })
</script>