{{>cdn}}
<meta name="google-signin-client_id" content="37671772460-tlbruehr4svt47hee7sqnr20tvb5gdrl.apps.googleusercontent.com">
<center>
<div class="container m-5 justify-content-center align-items-center">
    <div class="justify-content-center align-items-center" style="height: 100vh;">
      <div class="col m-2">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
        
        <div id="status">
        </div>
        
      </div>
      <div class="col m-2">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
     
    </div>
  </div>
</center>



<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
      const CLIENT_ID = '37671772460-tlbruehr4svt47hee7sqnr20tvb5gdrl.apps.googleusercontent.com';
        function handleCredentialResponse(response) {
          console.log(response)
         
        }
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
          console.log('statusChangeCallback');
          console.log(response);                   // The current login status of the person.
          if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            testAPI();  
          } else {                                 // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into this webpage.';
          }
        }
      
      
        function checkLoginState() {               // Called when a person is finished with the Login Button.
          FB.getLoginStatus(function(response) {   // See the onlogin handler
            statusChangeCallback(response);
          });
        }
      
      
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '3888992651331589',
            cookie     : true,                     // Enable cookies to allow the server to access the session.
            xfbml      : true,                     // Parse social plugins on this webpage.
            version    : 'v17.0'           // Use this Graph API version for this call.
          });
      
      
          FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
          });
        };
       
        function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
              'Thanks for logging in, ' + response.name + '!';
          });
        }
      
 
    
  </script>
  
  