{{>cdn}}
<h1>Shops</h1>
<table class="table">
    <thead>
        <tr>
            <th>Shop Name</th>
            <th>Shop Address</th>
            <th>Shop Phone</th>
        </tr>
    </thead>
    <tbody>
        {{#each shop}}
        <tr>
            <td>{{name}}</td>
            <td>{{location}}</td>
            <td>{{phone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>