{{>cdn
}}
<h1 class=" text-success text-uppercase text-center">Message To Shop</h1>
<container class="m-auto">
    <div class="m-5 mb-2 p-5">
        <div id="message" class="m-3">
        </div>
        <div id="page">
        </div>
<form id="messageForm">
   
    <div class="mb-3 form-group">
        <label for="exampleFormControlInput1" class="form-label">Message:</label>
        <textarea class="form-control" id="message" rows="3"name="message"></textarea>
    </div>
    <div class="form-group mb-3">
        <label class="form-label">audiance:</label>
        <input type="radio" name="audiance" value="all" checked/>All
        <input type="radio" name="audiance" value="specific"/>Specific
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" id="updateData" value="Post">
    </div>
</form>
</div>
</container>
<script>
    let messageData={{{jsonToString messsage}}}
    const messageListHolder=document.getElementById("message")
    const pages=document.getElementById('page')
    let itemsPerPage=2
    let currentPage=1

function displayShop(items,wrapper,page,itemsPerPage){
    
    wrapper.innerHTML = "";
    const start = (page - 1) * itemsPerPage; 
    const end = start + itemsPerPage;
    const pageData = items.slice(start, end); 

for(let i=0;i<pageData.length;i++){
    let shop=pageData[i];
    let div=document.createElement("div")
    
    div.classList.add('p-2', 'text-white', 'bg-primary','m-2');
   
    div.style.borderRadius = "10px";
    let p=document.createElement('p')
    p.innerText=shop.message
    div.appendChild(p)
    wrapper.appendChild(div)
  
}
}
function displayPage(items,wrapper,itemsPerPage){
let page=Math.ceil(items.length/itemsPerPage)
for(i=1;i<page+1;i++){
    let button=createButton(i,items)
    wrapper.appendChild(button)
}
}
function createButton(page,items){
let button=document.createElement('button')
button.innerText=page
button.classList.add('btn')
if(currentPage==page){
    button.classList.add('btn-primary')
}
button.addEventListener('click', function(){
    currentPage=page
    let currentButton=document.querySelector('.btn-primary')
    currentButton.classList.remove('btn-primary')
    button.classList.add('btn-primary')
    displayShop(items,messageListHolder,page,itemsPerPage)
})
return button;
}
displayShop(messageData,messageListHolder,pages,itemsPerPage)
displayPage(messageData,pages,itemsPerPage)
    console.log(messageData)
    $('#messageForm').on('submit', function(e){
        e.preventDefault();
        const urlParams=new URLSearchParams(window.location.search)
        const shopId=urlParams.get('shopId')
        const message=document.getElementById('message')
        const url=`http://localhost:8000/message/to-shop?shopId=${shopId}`
        const data=$(this).serialize()
        $.post({
            url: url,
            data: data,
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            success:function(response){
                console.log(response)
                message.value=""
            },
            error:function(err){
                console.log(err)
            }
        })
    })
</script>